body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li{
  line-height: 30px;
  text-decoration: none;
  list-style-type: none;
  margin-left: -40px;
}
/*div{
  border: 1px solid black;
}*/
#main{
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 600px;
}
#main-container{
  min-height: 800px;
}
.p2{
  color: #969698;
  font-size: 18px;
}
.barre{
  text-decoration: line-through;
}
.title{
  color: #969698;
  font-size: 20px;
  vertical-align: top;
}
.right{float:right;}
.left{float:left;}
.haut{vertical-align: top;}
.bas{vertical-align: bottom;}

.line{
  display: block;
}
.col{
  display: inline-block;
}
.un{
  width: 680px;
}
.clear {
    clear: both;
}
