body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
li{
  line-height: 30px;
}
#main{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 900px;
}
#main-container{
  min-height: 800px;
}
.p2{
  color: #969698;
  font-size: 18px;
}
.barre{
  text-decoration: line-through;
}
.title{
  color: #969698;
  font-size: 20px;
  vertical-align: top;
}
.right{float:right;}
.left{float:left;}
.haut{vertical-align: top;}
.bas{vertical-align: bottom;}

.line{
  display: block;
}
.col{
  display: inline-block;
}
.un{
  width: 700px;
}
.deux{
  width: 150px;
}
.clear {
    clear: both;
}
